/* COLOR PALETTES */
/*  
    rgb(255,47,47)
    rgb(255,162,47)
    rgb(255,225,46)
    rgb(106,255,47)
    rgb(47,255,218) 
*/

/* =============
   Core Styles
   ============= */
.container {
    margin-top:  6px;
}
body {
    font-weight: normal;
    font-family: Mitr;
}

hr {
 width: 60%;
 border: 2px dashed #222;
 box-shadow: 1px 2px 4px rgb(255,162,47);
}

/* =============
   Hover Styles
   ============= */
.navbar-inverse h1:hover,
.carousel-inner .item a:hover {
    color: rgb(255,225,46);
    border: 5px solid rgb(255,225,46);
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(255,225,46);
}
.link-animate:hover::after {
  width: 100%;
}

#page-about .col-md-5 .thumbnail:hover,
#page-work .col-md-5 .thumbnail:hover {
    transform: rotate(0deg);
    box-shadow: 3px 5px 6px #222;
}
#page-about a:hover,
#page-events a:hover {
    color: rgb(255,162,47);
    border: 3px solid rgb(255,162,47);
}

#down i:hover {
  color: rgb(255,162,47);
  text-shadow: 2px 2px 1px #222;
}


#campaigns .col-md-6 .thumbnail > img:hover,
#campaigns .col-md-12 .thumbnail > img:hover {
	transform: scale(1.05);
	box-shadow: 3px 4px 6px #222;
}

#learn-more h2:hover,
#team-page h2:hover {
 background: rgb(255,162,47);
 color: #FFF;
}

.copyright span:hover {
  border: 2px solid rgb(255,225,46);
}
.copyright a:hover {
  color: rgb(255,225,46);
}


/* ======================
   Header / Navbar Styles
   ====================== */
.navbar-inverse {
    background: rgba(51, 122, 183, 0.7);
}
.navbar-inverse {
    z-index: 1;
}

/* NAVBAR BRAND */
.navbar-inverse a {
    text-decoration: none;
}
.navbar-inverse h1 {
    margin: 0.1em auto;
    font: bold 4em;
    color: #FFF;
    width:  100px;
    border: 5px solid #FFF;
    transition: all 0.5s ease;
}

/* NAVBAR ITEMS */
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    transition: all 1s ease;
}
.navbar-nav li > a {
    font-size: 1.5em;
}

.link-animate::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255,225,46);
  -webkit-transition: width .3s;
  transition: width .3s;
}

/* CENTERS THE NAVBAR HEADER */
@media screen and (min-width: 768px) {
    .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-nav li {
        display: inline-block;
        float: none;
    }
}

/* ======================
   Image Slider Styles
   ====================== */
.carousel-indicators {
    visibility: hidden;
}
.carousel-caption {
    padding-bottom: 100px;
}
.carousel-caption h3,
.carousel-caption p {
    text-align: left;
    text-shadow: 2px 3px 5px #000;
}
.carousel-caption h3 {
    font-size: 4em;
    letter-spacing: 0.050em;
}
.carousel-caption p {
    font-size: 2em;
}

.carousel-inner .item a {
    color: #FFF;
    font-size: 1.7em;
    float: left;
    margin-top: 20px;
    background: transparent;
    border: 5px solid #FFF;
    border-radius: 0;
    transition: all 0.5s ease;
}


/* ======================
          Boxes Section
   ====================== */
#page-logo {
    position: relative;
    padding: 0 0 20px 0;
}
#page-logo .caption {
  border: 5px solid #222;
  padding: 0.5em;
  margin: 0.6em auto;
  color: #222;
  box-shadow: 3px 4px 1px rgb(255,162,47); 
}

#page-logo .caption > h3 {
   font-size: 1.6em;
  font-weight: medium;
}
#page-logo .thumbnail {
    transition: all 0.5s ease;
    border: none;
}



/* =========================
          About & Work Section
   ========================= */
#page-about,
#page-work,
{
    padding: 50px 0;
}

#page-about .col-md-5 .thumbnail,
#page-work .col-md-5 .thumbnail {
    margin-top: 50px;
    transition: all 0.5s ease;
}

#page-about .col-md-5 .thumbnail {
    margin-right: 3em;
    transform: rotate(8deg);
}

#page-work .col-md-5 .thumbnail {
    margin-left: 3em;
    transform: rotate(-8deg);
}

#page-about h1,
#page-work h1,
#campaigns h1,
#page-events h1,
#sites h1 {
  border: 5px solid #222;
  padding: 0.2em;
  margin: 0.6em auto;
  width: 50%;
  font-size: 3em;
  font-weight: medium;
  color: #222;
  box-shadow: 3px 4px 1px rgb(255,162,47); 
}

#page-about li {
  padding: 1em;
  margin-bottom: 0.5em;
  border: 3px solid #222;
  transition: all 0.5s ease;
}

#down i {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #222;
  text-shadow: 2px 2px 1px rgb(255,162,47);
}

#team-page h2 {
 border: 5px solid #222;
 padding: 0.2em;
 margin: 0.6em auto;
 width: 50%;
 font-size: 2em;
 font-weight: medium;
 color: #222;
 box-shadow: 3px 4px 1px rgb(255,162,47);
}

#team-page a {
 text-decoration: none;
 color: #222;
}

/* =========================
        Campaigns Section
   ========================= */
#campaigns {
 padding: 2em 0 0 0;
}
#campaigns .col-md-6 > img {
    height: 300px;
    width: 400px;
}
#campaigns .col-md-6 .thumbnail > img,
#campaigns .col-md-12 .thumbnail > img {
	transition: all 0.5s ease;
}

#campaigns h2 {
border: 5px solid #222;
padding: 0.2em;
margin: 0.6em auto;
width: 60%;
font-size: 2em;
font-weight: medium;
color: #222;
}
#campaigns h3 {
border: 3px solid #222;
padding: 0.2em;
margin: 0.6em auto;
width: 100%;
font-size: 2em;
font-weight: medium;
color: #222;
}
#campaigns p {
 width: 70%;
 margin: 1em auto;
}

#campaigns li {
  border: 5px solid #222;
  box-shadow: 1px 3px 4px rgb(255,162,47);
  padding: 0.5em;
  font-size: 3em;
  margin: 0.5em 0;
}

#learn-more {
 padding: 0 0 4em 0;
}

#learn-more h2 {
 border: 5px solid #222;
 padding: 0.2em;
 margin: 0.6em auto;
 width: 50%;
 font-size: 2em;
 font-weight: medium;
 color: #222;
 box-shadow: 3px 4px 1px rgb(255,162,47);
}
#learn-more a {
 text-decoration: none;
 color: #222;
}

/* =========================
        Article Styles
   ========================= */
#sites {
 padding: 4em 0 5em 0;
}

/* =========================
     News and Events Section
   ========================= */
#page-events {
    padding: 50px 0;
}

#page-events .event-month {
 border: 5px solid #222;
 font-weight: medium;
 color: #222;
 box-shadow: 3px 4px 1px rgb(255,162,47); 
 width: 100%;
 padding: 0.450em;
 font-size: 4em;
}

#page-events .event-title {
 width: 100%;
 font-size: 3em;
 border-bottom: 3px solid #222;
 padding: 0.2em;
}

#page-events .event-link {
 text-decoration: none;
 font-size: 1.5em;
 color: #222;
 text-decoration: none;
 border: 3px solid #222;
 padding: 0.2em;
 transition: all 0.5s ease;
}


/* =========================
        Modal Styles
   ========================= */
#contacts {
    font-family: Helvetica;
}
#contacts .modal-header > h1 {
 font-weight: bold;
 font-size: 3em;
}
#contacts .modal-footer > h4 {
	font-weight: bold;
	font-size: 2em;
}
#contacts i,
#newsletter i {
 color: #FFF;
}

#contacts .modal-dialog,
#newsletter .modal-dialog {
border: 5px solid #222;
font-weight: medium;
color: #FFF;
box-shadow: 3px 4px 1px #FFF; 
}
#contacts .modal-content,
#newsletter .modal-content {
 background: rgba(255,162,47,0.9);
 border-radius: 0px;
}
#contacts .modal-body {
 font-size: 2em;
}


/* =========================
        Footer Styles
   ========================= */
.footer1 {
    background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;
  padding: 40px 0 20px 0;
}

.footer-bottom {
    background-color: #15224f;
    min-height: 50px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 1em 0;
}
.copyright span {
  border: 2px solid #FFF;
  padding: 0.2em;
  transition: all 1s ease;
}
.copyright a {
  color: #FFF;
  text-decoration: none;
  transition: all 1s ease;
}
.design {
    color: #fff;
    padding: 1.2em 0;
}

.design a {
  color: #FFF;
}